/JavaModelo_Entities/nbproject/private/
/JavaModelo_Framework/nbproject/private/
/JavaModelo_Entities_Login/nbproject/private/
/JavaModelo_Test/nbproject/private/
/JavaModelo_Framework/build/
/JavaModelo_Framework/dist/
/JavaModelo_Entities/build/
/JavaModelo_Entities_Login/build/
/JavaModelo_Entities/dist/
/JavaModelo_Entities_Login/dist/
/JavaModelo_Js/node_modules/
/JavaModelo_Test/dist/
/JavaModelo_Test/build/
/JavaModelo_Interfaces/nbproject/private/
/JavaModelo_Interfaces/build/
/JavaModelo_Interfaces/dist/
**/node_modules/**
/JavaModelo_Export/nbproject/private/
/JavaModelo_Export/build/
/JavaModelo_Export/dist/
/JavaModelo_Test_HTML/nbproject/private/