

<div class="carro" ng-controller="Carro">
  
  <button ng-click="exportarCarros()">
    
  </button>
  
  <div class="form">
    <input ng-model="carro.nome" placeholder="Nome">
    
    <br>
    <input ng-model="carro.portas.cor" placeholder="Cor da porta">
    
    <br>
    <br>
    <select ng-options="c.nome for c in cores" ng-model="carro.cores">
      <option value="">--------------</option>
    </select>
    
    <br>
    <br>
    <input ng-model="carro.valor.valor" placeholder="Valor">
    
    <br>
    <br>
    <button ng-click="postCarro()">Gravar</button>
  </div>
  
  
  <div>
    <div class="titulo">Cores</div>
    <ul>
      <li ng-repeat="x in cores">{{ x.nome}} ({{ x.rgb}}) [{{ x.hex}}]</li>
    </ul>
  </div>
  
  <div >
    <div class="titulo">Carros:</div>
    <ul>
      <li ng-repeat="c in coisas.carros">
        <button ng-click="deleteCarro(c)">Deletar</button>
        <span>{{ c.nome}} [ID: {{ c.id }}]</span>
        <span> (criado em: "{{ c.registroUsuario.atualizacao }}")</span>
        
        <br/>
        <span>- Valor: {{ c.valor.valor }}</span>
        
        <br/>
        <span>- Cores:</span>
        <ul>
          <li ng-repeat="x in c.cores">{{ x.nome}} ({{ x.rgb}}) [{{ x.hex}}]</li>
        </ul>
        
        <span>- Portas:</span>
        <ul>
          <li ng-repeat="x in c.portas">
            <span>Cor: {{ x.cor }}</span>
            <br/>
            <span>- Janelas:</span>
            <ul>
              <li ng-repeat="j in x.janelas">{{ j.id }}, janela elétrica: {{ j.eletrica }}</li>
            </ul>
          </li>
        </ul>
        
      <br/><br/>
      </li>
    </ul>
      
  </div>
  
</div>